#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  border: 1px solid black;
}

.header {
  display: flex;
  justify-content: center;
}

.header img {
  height: 50px;
  width: 50px;
}

.article {
  display: flex;
}

.article-container img {
  height: 250px;
  width: 250px;
  padding: 20px;
}

.topic-container {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
